# xinput set-int-prop 15 266 8 2 3 0 0 1 2 3

#disable touchscreen
xinput disable "ELAN Touchscreen"

# enable two fingered right click
xinput --set-prop --type=int --format=8 15 "libinput Click Method Enabled" 0 1
